<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Отчетность по банку:{{bank}} загружена</h1>
<br>
<h1>Отчетность по данному банку содержит следующие коды:{{ codes }}</h1>
<form action="{% url 'graphic' %}" method="GET">
        {% csrf_token %}
    <input type="text" name="graphic" placeholder="Введите код показателя"><br>
    <div class="col-0"><input style="" type="submit" value="Подтвердить" class="btn btn btn-thirdcondary"></div>
    </form>
<br></br>
<input type="button" onclick="history.back();" value="Назад">
</body>
</html>